<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script src="js/jquery-1.12.4.min.js"></script>
<script src="ckeditor/ckeditor.js"></script>
<script src="js/FileSaver.js"></script>
<script src="js/jquery.wordexport.js"></script>
<script src="js/jquery.modal.min.js"></script>
<link rel="stylesheet" href="css/jquery.modal.min.css" />

<div id="ex1" class="modal">
    <h3 class="title"></h3>

    <div class="info-box notice notice__hint"></div>

    <textarea name="editor" id="editor"></textarea>
</div>


<p style="text-align: center;">
    <span style="font-size: 14.0pt; font-family: 'Arial Black',sans-serif;">
        PERSONEL DİSİPLİN SORUŞTURMASI VE İNCELEME SONUÇ BİLDİRME YAZISI
    </span>
</p>


<p>
    <span style="font-size: 12.0pt; font-family: 'Arial Black',sans-serif;">
        PERSONEL DİSİPLİN SORUŞTURMASI VE İNCELEME SONUÇ BİLDİRME YAZISI ÖRNEĞİ
    </span>
</p>

<ul>
    <li><a href="#ex1" rel="modal:open" id="a">Yazı Örneği</a></li>
</ul>



<style>
    ul li {
        padding: 5px;
        list-style-type: none;
    }

    .modal {
        display: none;
        vertical-align: top;
        position: relative;
        z-index: 2;
        max-width: 10000px;
        box-sizing: border-box;
        width: 95%;
        background: #fff;
        padding: 15px 30px;
        height: auto;
        min-height: 95vh;
    }


    p.notice__hint,
    div.notice__hint,
    nav.notice__hint,
    div.tip__hint,
    p.tip__hint {
        border-left: 3px solid #64b5f6;
    }

    p.notice,
    div.notice,
    nav.notice,
    div.tip,
    p.tip {
        position: relative;
        margin: 1em 0;
        background: #5eb6fb;
        border-left: 3px solid #64b5f6;
        padding: 5px 10px;
    }
</style>



<script>


    var form = null;
    var warn = null;
    var filename = '';

    var j3 = jQuery.noConflict();


    j3(document).ready(function () {
        j3(" ul > li > a ").click(function () {
            form = j3(this).attr("id");
            warn = 'alert' + j3(this).attr("id");

        });
    });



    j3(document).on(j3.modal.BEFORE_OPEN, function (event, modal) {
        if (CKEDITOR.instances.editor) {
            CKEDITOR.instances.editor.destroy();
        }

        CKEDITOR.replace('editor', {
            height: 450,
            extraPlugins: 'msword',
            toolbar:
                [
                    { name: 'document', groups: ['mode', 'document', 'doctools'], items: ['Print', 'Msword'] },
                    '/',
                    { name: 'basicstyles', groups: ['basicstyles', 'cleanup'], items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat'] },
                    { name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi'], items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl'] },
                    '/',
                    { name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize'] },
                    { name: 'colors', items: ['TextColor', 'BGColor'] }

                ]
        });


        CKEDITOR.instances.editor.setData(o[form]['form']);
        j3(".notice__hint").html(o[form]['hint']);
        j3(".title").html(o[form]['title']);
        filename = o[form]['title'].toLowerCase().replace(/\s/g, '_');

        j3("#jquery-word-export").click(function (event) {
            var data = CKEDITOR.instances.editor.getData();
            $div = j3('<div>', { class: 'spinner' });
            $div.html(data);
            $div.wordExport('dosya');
        });



    });



    function printDiv() {

        var data = CKEDITOR.instances.editor.getData();
        $div = j3('<div>', { class: 'print', 'style': 'margin: 50px;' });
        $div.prepend(data);

        console.log($div.prop('outerHTML'));

        var newWin = window.open('', 'Print-Window');

        newWin.document.open();

        newWin.document.write('<html><body onload="window.print()">' + $div.prop('outerHTML') + '</body></html>');

        newWin.document.close();

        setTimeout(function () {
            newWin.close();
        }, 10);

    }


    var o = {
        a: {
            form: `<p><strong>PERSONEL DİSİPLİN SORUŞTURMASI SONU&Ccedil; BİLDİRME YAZI &Ouml;RNEĞİ</strong></p>
            <p>(Ceza Vermeye Yetkili Makam Tarafından Yazılacaktır)</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Sayın &hellip;&hellip;.&nbsp; (Ş&Uuml;PHELİ) </strong></p>
            <p>&nbsp;</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;iddialarla ilgili olarak hakkınızda Dekanlık/ M&uuml;d&uuml;rl&uuml;k Makamının &hellip;&hellip;&hellip;. tarih ve &hellip;&hellip;&hellip;.. sayılı onayı ile disiplin soruşturması başlatılmıştır.</p>
            <p>&nbsp;</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Y&uuml;r&uuml;t&uuml;len disiplin soruşturması sonucunda d&uuml;zenlenen soruşturma raporu doğrultusunda&nbsp; &nbsp;&hellip;. fiiliniz nedeniyle&hellip;&hellip;.. gerek&ccedil;eyle, &hellip;&hellip;&hellip;&hellip; h&uuml;km&uuml; uyarınca <em>&ldquo;&hellip;&hellip;.&rdquo;</em> cezası ile cezalandırılmanıza karar verilmiştir.</p>
            <p>&nbsp;</p>
            <p>Karara karşı yazımızın tebliğ tarihinden itibaren 2547 sayılı Y&uuml;ksek&ouml;ğretim Kanununun 53/F./&hellip; maddesi h&uuml;km&uuml; uyarınca en ge&ccedil; 7 (yedi) g&uuml;n i&ccedil;erisinde &hellip;&hellip;&hellip;. itiraz edilebileceğiniz ya da 60 (altmış) g&uuml;n i&ccedil;inde idari yargı yolunda iptal davası a&ccedil;abileceğiniz hususunda bilgilerinizi rica ederim.</p>
            <p>&nbsp;</p>
            <p dir="rtl">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong><em>Dekan/Müdür</em></strong></p>
            <p>&nbsp;</p>
            <p>******************************************************************</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>Sayın &hellip;&hellip;.&nbsp; (ŞİKAYETCİ)</strong></p>
            <p>&nbsp;</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;iddialarla ilgili olarak &hellip;&hellip;&hellip;. hakkında Dekanlık/ M&uuml;d&uuml;rl&uuml;k Makamının &hellip;&hellip;&hellip;. tarih ve &hellip;&hellip;&hellip;.. sayılı onayı ile disiplin soruşturması başlatılmıştır.</p>
            <p>&nbsp;</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Y&uuml;r&uuml;t&uuml;len disiplin soruşturması sonucunda d&uuml;zenlenen soruşturma raporu doğrultusunda adı ge&ccedil;ene &hellip;&hellip;&hellip;&hellip;gerek&ccedil;eyle herhangi bir disiplin cezası verilmemesine karar verilmiştir.</p>
            <p>&nbsp;</p>
            <p>Karara karşı yazımızın tebliğ tarihinden itibaren 60 (altmış) g&uuml;n i&ccedil;inde idari yargı yolunda iptal davası a&ccedil;abileceğiniz hususunda bilgilerinizi rica ederim.</p>
            <p>&nbsp;</p>
            <p dir="rtl">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong><em>Dekan/Müdür</em></strong></p>`,
            hint: `<p><strong>DİKKAT!..</strong></p>
            <p><strong>1 - </strong>İtiraz makamı, 2547 sayılı Kanun’un 53/F maddesinde düzenlenmiş ve verilen cezaya göre değiştiğinden dosyaya göre uyarlanmalıdır.</p>
            <p><strong>2 - </strong>İlk iki paragraf örnek olarak yazılmıştır. Fiile ve alt ceza uygulanıp uygulanmaması durumuna göre uyarlanmalıdır.</p>
            <p><strong>3 - </strong>Şüpheliye ceza verilmemesi halinde bildirim yazısında son paragraf kullanılmamalıdır.</p>
            <p>&nbsp;</p>`,
            title: "PERSONEL DİSİPLİN SORUŞTURMASI SONU&Ccedil; BİLDİRME YAZI &Ouml;RNEĞİ"
        },

    };

</script>