
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<script src="js/jquery-1.12.4.min.js"></script>
<script src="ckeditor/ckeditor.js"></script>
<script src="js/FileSaver.js"></script>
<script src="js/jquery.wordexport.js"></script>
<script src="js/jquery.modal.min.js"></script>
<link rel="stylesheet" href="css/jquery.modal.min.css" />

<div id="ex1" class="modal">
    <h3 class="title"></h3>

    <div class="info-box notice notice__hint"></div>

    <textarea name="editor" id="editor"></textarea>
</div>


<p style="text-align: center;">
    <span style="font-size: 14.0pt; font-family: 'Arial Black',sans-serif;">
        PERSONEL CEZA SORUŞTURMASI
    </span>
</p>


<p>
    <span style="font-size: 12.0pt; font-family: 'Arial Black',sans-serif;">
        A – ŞİKAYETÇİ YAZILARI
    </span>
</p>

<ul>
    <li>A.1. <a  href="#ex1" rel="modal:open" id="a1">Şikayetçi İfadeye Çağrı Yazısı Örneği</a></li>
    <li>A.2. <a  href="#ex1" rel="modal:open" id="a2">Şikayetçi Tebellüğ Örneği</a></li>
    <li>A.3. <a  href="#ex1" rel="modal:open" id="a3">Şikayetçi İfade Tutanağı Örneği</a></li>
</ul>



<p>
    <span style="font-size: 12.0pt; font-family: 'Arial Black',sans-serif;">
        B – ŞÜPHELİ YAZILARI
    </span>
</p>

<ul>
    <li>B.1. <a  href="#ex1" rel="modal:open" id="b1">Şüpheli Savunmaya Çağrı Yazısı Örneği</a></li>
    <li>B.2. <a  href="#ex1" rel="modal:open" id="b2">Şüpheli Tebellüğ Örneği</a></li>
    <li>B.3. <a  href="#ex1" rel="modal:open" id="b3">Şüpheli Savunma Tutanağı Örneği</a></li>
</ul>



<p>
    <span style="font-size: 12.0pt; font-family: 'Arial Black',sans-serif;">
        C – TANIK YAZILARI
    </span>
</p>

<ul>
    <li>C.1. <a  href="#ex1" rel="modal:open" id="c1">Tanık İfadeye Çağrı Yazısı Örneği</a></li>
    <li>C.2. <a  href="#ex1" rel="modal:open" id="c2">Tanık Tebellüğ Örneği</a></li>
    <li>C.3. <a  href="#ex1" rel="modal:open" id="c3">Tanık İfade Tutanağı Örneği</a></li>
</ul>



<p>
    <span style="font-size: 12.0pt; font-family: 'Arial Black',sans-serif;">
        D – SORUŞTURMA SÜRECİNE İLİŞKİN DİĞER YAZI ÖRNEKLERİ
    </span>
</p>

<ul>
    <li>D.1. <a  href="#ex1" rel="modal:open" id="d1">Sorumlu Olarak Tespit Edilen Kişinin Soruşturmaya Dahil Edilmesi İstem Yazısı</a></li>
    <li>D.2. <a  href="#ex1" rel="modal:open" id="d2">Bilirkişi İncelemesi İstemi Yazısı</a></li>
    <li>D.3. <a  href="#ex1" rel="modal:open" id="d3">İstinabe Suretiyle İfade Alınması İstemi Yazısı</a></li>
    <li>D.4. <a  href="#ex1" rel="modal:open" id="d4">Ek Süre İstem Yazısı</a></li>
    <li>D.5. <a  href="#ex1" rel="modal:open" id="d5">Soruşturma Raporu Örneği</a></li>
    <li>D.6. <a  href="#ex1" rel="modal:open" id="d6">Soruşturma Dosyası Dizi Pusulası Örneği</a></li>
    <li>D.7. <a  href="#ex1" rel="modal:open" id="d7">Soruşturma Dosyası Teslim Yazısı Örneği</a></li>
</ul>



<style>

    ul li{
        padding: 5px;
        list-style-type: none;
    }    
    .modal {
        display: none;
        vertical-align: top; 
        position: relative;
        z-index: 2;
        max-width: 10000px; 
        box-sizing: border-box;
        width: 95%;
        background: #fff;
        padding: 15px 30px;
        height:auto;
        min-height:95vh;
    }


    p.notice__hint, div.notice__hint, nav.notice__hint, div.tip__hint, p.tip__hint {
        border-left: 3px solid #64b5f6;
    }

    p.notice, div.notice, nav.notice, div.tip, p.tip {
        position: relative;
        margin: 1em 0;
        background: #5eb6fb;
        border-left: 3px solid #64b5f6;
        padding: 5px 10px;
    }


</style>



<script >


    var form = null;
    var warn = null;
    var filename = '';


    var j3 = jQuery.noConflict();


    j3(document).ready(function () {
        j3(" ul > li > a ").click(function () {
            form = j3(this).attr("id");
            warn = 'alert' + j3(this).attr("id");

        });
    });



    j3(document).on(j3.modal.BEFORE_OPEN, function (event, modal) {
        if (CKEDITOR.instances.editor)
        {
            CKEDITOR.instances.editor.destroy();
        }

        CKEDITOR.replace('editor', {height: 450,
            extraPlugins: 'msword',
            toolbar:
                    [
                        {name: 'document', groups: ['mode', 'document', 'doctools'], items: ['Print', 'Msword']},
                        '/',
                        {name: 'basicstyles', groups: ['basicstyles', 'cleanup'], items: ['Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'CopyFormatting', 'RemoveFormat']},
                        {name: 'paragraph', groups: ['list', 'indent', 'blocks', 'align', 'bidi'], items: ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote', 'CreateDiv', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'BidiLtr', 'BidiRtl']},
                        '/',
                        {name: 'styles', items: ['Styles', 'Format', 'Font', 'FontSize']},
                        {name: 'colors', items: ['TextColor', 'BGColor']}

                    ]
        });


        CKEDITOR.instances.editor.setData(o[form]['form']);
        j3(".notice__hint").html(o[form]['hint']);
        j3(".title").html(o[form]['title']);
        filename = o[form]['title'].toLowerCase().replace(/\s/g, '_');

        j3("#jquery-word-export").click(function (event) {
            var data = CKEDITOR.instances.editor.getData();
            $div = j3('<div>', {class: 'spinner'});
            $div.html(data);
            $div.wordExport('dosya');
        });



    });



    function printDiv()
    {

        var data = CKEDITOR.instances.editor.getData();
        $div = j3('<div>', {class: 'print', 'style': 'margin: 50px;'});
        $div.prepend(data);

        console.log($div.prop('outerHTML'));

        var newWin = window.open('', 'Print-Window');

        newWin.document.open();

        newWin.document.write('<html><body onload="window.print()">' + $div.prop('outerHTML') + '</body></html>');

        newWin.document.close();

        setTimeout(function () {
            newWin.close();
        }, 10);

    }


    var o = {
        a1: {
            form: "<p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p><strong><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>Sayın:</span></strong><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rekt&ouml;rl&uuml;k / Genel Sekreterlik / Dekanlık/ M&uuml;d&uuml;rl&uuml;k Makamının ../../&hellip;. tarih ve &hellip;..&hellip;&hellip;.. sayılı yazısıyla &hellip;&hellip;&hellip;&hellip;..&hellip;&hellip; konusundaki şikayetiniz ile ilgili olarak &hellip;&hellip;&hellip;&hellip;.. hakkında 2547 sayılı Yasa&rsquo;nın 53/c maddesi uyarınca a&ccedil;ılan ceza soruşturmasında soruşturmacı olarak g&ouml;revlendirilmiş bulunmaktayım.</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; S&ouml;z konusu olayla ilgili olarak m&uuml;şteki sıfatıyla ifadenize başvurulacağından &hellip;/&hellip;./&hellip;.. g&uuml;n&uuml;, saat &hellip;&hellip;&hellip; da, &hellip;&hellip;&hellip;.. da hazır bulunmanızı rica ederim&hellip;./&hellip;./&hellip;&hellip;</span></p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Soruşturmacı</span></p><p>&nbsp;</p>",
            hint: '<p><strong>DİKKAT!..</strong></p><p><strong>1 -</strong> Şikayet&ccedil;iye (m&uuml;ştekiye) g&ouml;nderilen ifadeye davet yazısında; hangi makam tarafından a&ccedil;ıldığı, soruşturma onayının tarihi ve sayısı yazılarak, şikayet konusu iddialar &ouml;zetlenmeli.</p><p><strong>2 -</strong> Soruşturma gizli olup, şikayet&ccedil;i (m&uuml;şteki) ifadeye davet yazısı elden tebliğ edilecekse gizli kapalı zarf i&ccedil;erisinde &uuml;st yazı ve tebell&uuml;ğ belgesi eklenmek suretiyle g&ouml;nderilmelidir.</p><p><strong>3 &ndash;</strong> Tebliğ edilecek yazıya sayı alınmaması halinde yalnızca tarih yazılır.</p>',
            title: "A.1. ŞİKAYETÇİ İFADEYE ÇAĞRI YAZISI ÖRNEĞİ"
        },
        a2: {
            form: "<p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Arial',sans-serif;'>&nbsp;</span></p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TEBELL&Uuml;Ğ TUTANAĞI</span></p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Soruşturmacı &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;. tarafından g&ouml;nderilen .../&hellip;/&hellip;&hellip; tarih ve &hellip;&hellip;. sayılı yazıyı kapalı zarf i&ccedil;inde teslim aldım.</span></p><p>&nbsp;</p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>TEBLİĞ EDEN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TEBELL&Uuml;Ğ EDEN </span></p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>Adı Soyadı&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Adı Soyadı</span></p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>Tarih&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tarih</span></p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>İmza&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; İmza</span></p>",
            hint: '<p><strong>DİKKAT!..</strong></p><p><strong>1 -</strong> Soruşturma kapsamında kişilerle olan yazışmalar iadeli taahh&uuml;tl&uuml; olarak yapılır. Tebliğ yapıldığına dair PTT Alındı Belgesi soruşturma dosyasında muhafaza edilir.</p><p><strong>2 &ndash;</strong> Evrakın elden verilmesi halinde şikayet&ccedil;i mutlaka adını ve tebell&uuml;ğ ettiği tarihi yazarak Tebell&uuml;ğ Belgesini imzalamalıdır. Islak imzalı tebell&uuml;ğ belgesi soruşturma dosyasında muhafaza edilir.</p><p><strong>3 &ndash;</strong> Evrak, şik&acirc;yet&ccedil;iye tebell&uuml;ğ edilmek &uuml;zere başka bir kimseye tebliğ edilmişse, tebliğ eden ilgili kişi tebliğ tarihini yazarak belgeyi imzalamalıdır.</p><p><strong>4 &ndash;</strong> Evrakın elden tebliğ edilememesi halinde; ilk &ouml;nce kayıtlardaki bilinen adresine iadeli taahh&uuml;tl&uuml; olarak g&ouml;nderilir. Bu adrese tebligat yapılamaması halinde MERNİS adresine iadeli taahh&uuml;tl&uuml; olarak g&ouml;nderilir. Mernis adresine de tebligat yapılamaması halinde, Mernis adresine ikinci defa <strong>TK-21</strong> g&ouml;re tebligat g&ouml;nderilerek tebligat yapılmış sayılır.&nbsp;</p><p><strong>5 &ndash;</strong> Tebliğ edilecek yazıya sayı alınmaması halinde yalnızca tarih yazılır.</p>',
            title: "A.2. ŞİKAYETÇİ TEBELLÜĞ ÖRNEĞİ"
        },
        a3: {
            form: "<p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp; </span></p><p style='text-align: center;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>ŞİKAYET&Ccedil;İ İFADE TUTANAĞI</strong></span></p><p><u><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>İFADENİN ALINDIĞI YER :</span></u></p><p><u><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>İFADENİN ALINDIĞI TARİH:</span></u></p><p><u><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>ADI SOYADI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .</span></u></p><p><u><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>TC KİMLİK NO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span></u></p><p><u><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>ADRESİ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span></u></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&ldquo;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.&rdquo;ile ilgili olarak hakkında disiplin soruşturması a&ccedil;ılan &hellip;&hellip;&rsquo;e y&ouml;neltilen isnatlar, bu konuda şikayet&ccedil;i sıfatıyla ifadesine başvurulan, yukarıda a&ccedil;ık kimliği ve adresi yazılı &hellip;&hellip;&hellip;&hellip;&hellip;..&rsquo;e anlatıldı. Konu ile ilgili olarak iddia ve şikayetlerini şikayet&ccedil;i sıfatıyla anlatması istendi.</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>Şikayet&ccedil;i &ldquo;&hellip;&hellip;&hellip;&hellip; <strong><em>(ifadenin alındığı yer)</em></strong> &hellip;..&rdquo;de &hellip;&hellip;&hellip;&hellip; tarihinde alınan ifadesinde; </span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&ldquo;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&rdquo;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>dedi.</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>İlave edeceği başka bir şey olup olmadığı soruldu. &ldquo;Yoktur&rdquo; dedi. Tutanak kendisine okundu. Yazılanların s&ouml;ylediklerinin aynısı olduğunu beyan &uuml;zerine tutanak birlikte imzalandı. &hellip;/&hellip;/&hellip;</span></p><p><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>SORUŞTURMACI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; İFADEYİ YAZAN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ŞİKAYET&Ccedil;İ</span></p><p><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..</span></p>",
            hint: '<p><strong>DİKKAT!..</strong></p><p>1 &ndash; Şikayet&ccedil;inin ifadesi alınırken yemin ettirilmemelidir.</p><p>2 &ndash; Soruşturma konusu olay ve iddialar a&ccedil;ık&ccedil;a yazılmalıdır.</p><p>3 &ndash; Soruşturmacı gerek g&ouml;rd&uuml;ğ&uuml; takdirde şikayet&ccedil;inin anlattıklarının yanında konuyu a&ccedil;ıklığa&nbsp;kavuşturmak i&ccedil;in başka sorularda sorabilir.</p><p>4 &ndash; Soruşturma gizli olup, ifade sırasında soruşturmacı ya da soruşturma komisyonu &uuml;yeleri,&nbsp;katip, şikayet&ccedil;i ve varsa vekili dışında hi&ccedil; kimse bulunamaz. İfade tutanağı soruşturmacı,&nbsp; katip, ve şikayet&ccedil;i tarafından imzalanır, tutanağın bir n&uuml;shası şikayet&ccedil;iye verilir.</p><p>5 &ndash; Şikayet&ccedil;i avukatı ile gelmiş ise, vekaletnamesini sunması şartıyla ifadeye katılabilir. Bu durumda ifade tutanağını avukatta imzalamalıdır.</p>',
            title: "A.3. ŞİKAYETÇİ İFADE TUTANAĞI ÖRNEĞİ"
        },
        
        
        b1: {
            form: "<p><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>Sayın:&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p><p style='text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>Rekt&ouml;rl&uuml;k / Genel Sekreterlik / Dekanlık/ M&uuml;d&uuml;rl&uuml;k Makamının &hellip;&hellip;&hellip;. tarih ve &hellip;&hellip;&hellip;.. sayılı yazısıyla &hellip;&hellip;&hellip;&hellip; iddiaları ile ilgili olarak hakkınızda 2547 sayılı Yasa&rsquo;nın 53/c maddesi uyarınca a&ccedil;ılan ceza soruşturmasında, soruşturmacı olarak g&ouml;revlendirilmiş bulunmaktayım.</span></p><p style='text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>S&ouml;z konusu olayla ilgili olarak ş&uuml;pheli sıfatıyla ifadenize başvurulacağından savunmanızı yapmak &uuml;zere &hellip;/&hellip;./&hellip;.. g&uuml;n&uuml;, saat &hellip;&hellip;&hellip; da, &hellip;&hellip;&hellip;.. da hazır bulunmanızı, ifadenizin alınması sırasında CMK 147. maddesi uyarınca m&uuml;dafi hazır bulundurabileceğiniz hususuna bilgilerinizi rica ederim&hellip;./&hellip;./&hellip;..</span></p><p style='text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p><p style='text-align: justify; text-justify: inter-ideograph; text-indent: 35.4pt;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Soruşturmacı</span></p>",
            hint: '<p><strong>DİKKAT!..</strong></p><p><strong>1 &ndash;</strong> Ş&uuml;pheliye g&ouml;nderilen ifadeye davet yazısında; hangi makam tarafından a&ccedil;ıldığı, soruşturma onayının tarihi ve sayısı yazılarak, şikayet konusu iddialar &ouml;zetlenmeli. Savunmasını yaptığı sırada isterse avukat bulundurabileceği belirtilmelidir.</p><p><strong>2 -</strong> Soruşturma gizli olup, ş&uuml;pheliye ifadeye davet yazısı elden tebliğ edilecekse, gizli kapalı zarf i&ccedil;erisinde &uuml;st yazı ve tebell&uuml;ğ belgesi eklenmek suretiyle tebliğ edecek birime g&ouml;nderilmelidir.</p><p><strong>3 &ndash;</strong> Ş&uuml;pheliye, ifadeye davet yazısı tebliğ edildikten sonra <em>(tebell&uuml;ğ ettiği tarih sayılmaksızın)</em> <strong>en az 7 g&uuml;n</strong> ge&ccedil;medik&ccedil;e savunması alınamayacağından, ifadeye davet yazısında savunma alınma tarih ve saati belirlenirken postada ge&ccedil;ecek s&uuml;re de dikkate alınarak ileri bir tarih belirlenmelidir.</p><p>4 &ndash; Tebligat yapıldığı halde belirtilen tarih ve saatte ş&uuml;pheli ifade vermeye gelmez ise; tutanak tutularak soruşturmacı ve katip tarafından imzalanır ve dosyaya konur.</p>',
            title: "B.1. ŞÜPHELİ SAVUNMAYA ÇAĞRI YAZISI ÖRNEĞİ "
        },
        b2: {
            form: "<p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TEBELL&Uuml;Ğ TUTANAĞI</span></p><p>&nbsp;</p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Soruşturmacı &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;. tarafından g&ouml;nderilen .../&hellip;/&hellip;&hellip; tarih ve &hellip;&hellip;. sayılı yazıyı kapalı zarf i&ccedil;inde teslim aldım. </span></p><p>&nbsp;</p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>TEBLİĞ EDEN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TEBELL&Uuml;Ğ EDEN </span></p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>Adı Soyadı&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Adı Soyadı</span></p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>Tarih&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tarih</span></p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>İmza&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; İmza</span></p>",
            hint: '<p><strong>DİKKAT!..</strong></p><p><strong>1 -</strong> Soruşturma kapsamında kişilerle olan yazışmalar iadeli taahh&uuml;tl&uuml; olarak yapılır. Tebliğ yapıldığına dair PTT Alındı Belgesi soruşturma dosyasında muhafaza edilir.</p><p><strong>2 &ndash;</strong> Evrakın elden verilmesi halinde şikayet&ccedil;i mutlaka adını ve tebell&uuml;ğ ettiği tarihi yazarak Tebell&uuml;ğ Belgesini imzalamalıdır. Islak imzalı tebell&uuml;ğ belgesi soruşturma dosyasında muhafaza edilir.</p><p><strong>3 &ndash;</strong> Evrak, ş&uuml;pheliye tebell&uuml;ğ edilmek &uuml;zere başka bir kimseye tebliğ edilmişse, tebliğ eden ilgili kişi tebliğ tarihini yazarak belgeyi imzalamalıdır.</p><p><strong>4 &ndash;</strong> Evrakın elden tebliğ edilememesi halinde; ilk &ouml;nce kayıtlardaki bilinen adresine iadeli taahh&uuml;tl&uuml; olarak g&ouml;nderilir. Bu adrese tebligat yapılamaması halinde MERNİS adresine iadeli taahh&uuml;tl&uuml; olarak g&ouml;nderilir. Mernis adresine de tebligat yapılamaması halinde, Mernis adresine ikinci defa <strong>TK-21</strong> g&ouml;re tebligat g&ouml;nderilerek tebligat yapılmış sayılır. Şayet kişinin Mernis adresi yoksa, g&uuml;nl&uuml;k gazetelerin birinde ilanen tebligat yapılır. Tebligat s&uuml;re&ccedil;lerine ait t&uuml;m belgelerin aslı soruşturma dosyasında muhafaza edilir.</p><p><strong>5</strong> &ndash; Tebliğ edilecek yazıya sayı alınmaması halinde yalnızca tarih yazılır.</p>',
            title: "B.2. ŞÜPHELİ TEBELLÜĞ ÖRNEĞİ"
        },
        b3: {
            form: "<p><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SAVUNMA TUTANAĞI &nbsp;&nbsp;&nbsp; </span></p><p><u><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>İFADENİN ALINDIĞI YER :</span></u></p><p><u><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>İFADENİN ALINDIĞI TARİH:</span></u></p><p><u><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>ADI SOYADI &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .</span></u></p><p><u><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>TC KİMLİK NO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span></u></p><p><u><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>ADRESİ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span></u></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&ldquo;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.&rdquo;ile ilgili olarak a&ccedil;ılan ceza soruşturmasına konu isnatlar, ş&uuml;pheli sıfatıyla ifadesine başvurulan, yukarıda a&ccedil;ık kimliği ve adresi yazılı &hellip;&hellip;&hellip;&hellip;&hellip;..&rsquo;e anlatıldı. CMK 147. maddesi uyarınca m&uuml;dafi hazır bulundurabileceği hatırlatıldı, konu ile ilgili olarak ş&uuml;pheli sıfatıyla savunmasını vermesi istendi.</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>Ş&uuml;pheli &ldquo;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip; (İFADENİN ALINDIĞI YER)&rdquo;de &hellip;&hellip;&hellip;&hellip; tarihinde alınan savunmasında; &ldquo;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&rdquo;dedi.</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>İlave edeceği başka bir şey olup olmadığı soruldu. &ldquo;Yoktur&rdquo; dedi. Tutanak kendisine okundu. Yazılanların s&ouml;ylediklerinin aynısı olduğunu beyan &uuml;zerine tutanak birlikte imzalandı. &hellip;/&hellip;/&hellip;</span></p><p style='margin-left: 174.0pt; text-align: justify; text-justify: inter-ideograph; text-indent: -174.0pt;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&hellip;&hellip;&hellip;&hellip;&hellip;.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p><p style='margin-left: 174.0pt; text-align: justify; text-justify: inter-ideograph; text-indent: -174.0pt;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>İlgili&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; İfadeyi yazan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Soruşturmacı</span></p>",
            hint: '<p><strong>DİKKAT!..</strong></p><p><strong>1 -</strong> Ş&uuml;phelinin ifadesi alınırken ş&uuml;pheliye yemin ettirilmemelidir.</p><p><strong>2 -</strong> Soruşturma konusu olay ve iddialar a&ccedil;ık&ccedil;a yazılmalıdır.</p><p><strong>3 -</strong> Soruşturmacı gerek g&ouml;rd&uuml;ğ&uuml; takdirde ş&uuml;phelinin anlattıklarının yanında konuyu a&ccedil;ıklığa kavuşturmak i&ccedil;in gerekli g&ouml;rd&uuml;ğ&uuml; soruları sorabilir.</p><p><strong>4 &ndash;</strong> Ş&uuml;phelinin savunmasını yapması sırasında dilerse yanında bir avukat bulundurabileceği hususu hatırlatılmalıdır.</p><p><strong>5 -</strong> Soruşturma gizli olup ifade sırasında, soruşturmacı ya da soruşturma komisyonu &uuml;yeleri, katip, ifade sahibi ve varsa vekili dışında kimse bulunamaz. İfade tutanağı soruşturmacı, katip ve ş&uuml;pheli tarafından imzalanarak, tutanağın bir n&uuml;shası ş&uuml;pheliye verilmelidir.</p><p><strong>6 -</strong> Ş&uuml;pheli dilerse ifadesini yazılı olarak sunabilir ancak huzurda veya istinabe suretiyle kimlik tespiti yapılmalı, tutanağa ş&uuml;phelinin savunmasını yazılı olarak vermek istediği hususu yazılarak, savunması i&ccedil;in belli bir s&uuml;re verilmeli, tutanakta bu s&uuml;reyi ş&uuml;phelinin de onayladığı belirtilmelidir.</p><p><strong>7 -</strong> Ş&uuml;pheli avukatı ile gelmişse vekaletnamesini sunması şartıyla ifadeye katılabilir bu durumda ifade tutanağını avukatta imzalamalıdır.</p><p><strong>8 &ndash;</strong> Ş&uuml;phelinin ifadesi alınırken 7 g&uuml;nl&uuml;k savunma s&uuml;resine uyulması zorunludur.&nbsp; Ancak ş&uuml;pheli 7 g&uuml;nl&uuml;k savunma s&uuml;resine uymadan, kendi rızası ile daha &ouml;nce ifade vermek isterse bu husus savunma tutanağına a&ccedil;ık&ccedil;a yazılmalıdır.</p>',
            title: "B.3. ŞÜPHELİ SAVUNMA TUTANAĞI ÖRNEĞİ"
        },

       
       
       c1: {
            form: "<p><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>Sayın:&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p><p><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>Rekt&ouml;rl&uuml;k / Genel Sekreterlik / Dekanlık/ M&uuml;d&uuml;rl&uuml;k Makamının &hellip;&hellip;&hellip;. tarih ve &hellip;&hellip;&hellip;.. sayılı yazısıyla &hellip;&hellip;&hellip;&hellip; olayı ile ilgili olarak &hellip;&hellip;&hellip;&hellip;.. hakkında 2547 sayılı Yasa&rsquo;nın 53/c maddesi uyarınca a&ccedil;ılan ceza soruşturmasında soruşturmacı olarak g&ouml;revlendirilmiş bulunmaktayım.</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>S&ouml;z konusu olayla ilgili olarak tanık sıfatıyla ifadenize başvurulacağından &hellip;/&hellip;./&hellip;.. g&uuml;n&uuml;, saat &hellip;&hellip;&hellip; da, &hellip;&hellip;&hellip;.. da hazır bulunmanızı rica ederim&hellip;/&hellip;./&hellip;..</span></p><p><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p><p><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Soruşturmacı</span></p>",
            hint: '<p><strong>DİKKAT!..</strong></p><p>1 &ndash; Şikayet&ccedil;i &ouml;ğrencinin ifadesi alınırken yemin ettirilmemelidir.</p><p>2 &ndash; Soruşturma konusu olay ve iddialar a&ccedil;ık&ccedil;a yazılmalıdır.</p><p>3 &ndash; Soruşturmacı gerek g&ouml;rd&uuml;ğ&uuml; takdirde şikayet&ccedil;inin anlattıklarının yanında konuyu a&ccedil;ıklığa&nbsp;kavuşturmak i&ccedil;in başka sorularda sorabilir.</p><p>4 &ndash; Soruşturma gizli olup, ifade sırasında soruşturmacı ya da soruşturma komisyonu &uuml;yeleri,&nbsp;katip, şikayet&ccedil;i ve varsa vekili dışında hi&ccedil; kimse bulunamaz. İfade tutanağı soruşturmacı,&nbsp; katip, ve şikayet&ccedil;i tarafından imzalanır, tutanağın bir n&uuml;shası şikayet&ccedil;iye verilir.</p><p>5 &ndash; Şikayet&ccedil;i avukatı ile gelmiş ise, vekaletnamesini sunması şartıyla ifadeye katılabilir. Bu durumda ifade tutanağını avukatta imzalamalıdır.</p>',
            title: "C.1. TANIK İFADEYE DAVET YAZISI ÖRNEĞİ"
        },
        c2: {
            form: "<p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Arial',sans-serif;'>&nbsp;</span></p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TEBELL&Uuml;Ğ TUTANAĞI</span></p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Soruşturmacı &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;. tarafından g&ouml;nderilen .../&hellip;/&hellip;&hellip; tarih ve &hellip;&hellip;. sayılı yazıyı kapalı zarf i&ccedil;inde teslim aldım. </span></p><p>&nbsp;</p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>TEBLİĞ EDEN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TEBELL&Uuml;Ğ EDEN </span></p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>Adı Soyadı&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Adı Soyadı</span></p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>Tarih&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Tarih</span></p><p><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>İmza&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; İmza</span></p>",
            hint: '<p><strong>DİKKAT!..</strong>&nbsp;</p><p><strong>1 -</strong> Soruşturma kapsamında kişilerle olan yazışmalar iadeli taahh&uuml;tl&uuml; olarak yapılır. Evrakın elden verilmesi halinde, tebliğ edilen yazının tarih ve sayısı belirtilerek tebliğe ilişkin imzalı belge alınır ve soruşturma dosyasında muhafaza edilir.</p><p><strong>2 -</strong> Evrağı tebell&uuml;ğ eden tanık, mutlaka tebell&uuml;ğ ettiği tarihi yazarak belgeyi imzalamalıdır.</p><p><strong>3 -</strong> Evrak tanığa tebell&uuml;ğ edilmek &uuml;zere başka bir kimseye tebliğ edilmişse, tebliğ eden ilgili kişi tebliğ tarihini yazarak belgeyi imzalamalıdır.</p><p><strong>4 -</strong> Tebliğ edilecek yazıya sayı alınmaması halinde yalnızca tarih yazılır.</p>',
            title: "C.2. TANIK TEBELLÜĞ ÖRNEĞİ "
        },
        c3: {
            form: "<p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TANIK İFADE TUTANAĞI</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><u><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>İFADENİN ALINDIĞI YER&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span></u></p><p style='text-align: justify; text-justify: inter-ideograph;'><u><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>İFADENİN ALINDIĞI TARİH&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span></u></p><p style='text-align: justify; text-justify: inter-ideograph;'><u><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>ADI SOYADI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span></u></p><p style='text-align: justify; text-justify: inter-ideograph;'><u><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>TC KİMLİK NO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span></u></p><p style='text-align: justify; text-justify: inter-ideograph;'><u><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>ADRES&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span></u></p><p style='text-align: justify; text-justify: inter-ideograph;'><u><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></u><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&ldquo;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.&rdquo;ile ilgili olarak hakkında ceza soruşturması a&ccedil;ılan &hellip;&hellip;&rsquo;e y&ouml;neltilen isnatlar, bu konuda tanık sıfatıyla ifadesine başvurulan, yukarıda a&ccedil;ık kimliği ve adresi yazılı &hellip;&hellip;&hellip;&hellip;&hellip;..&rsquo;e anlatıldı. Konu ile ilgili olarak tanık sıfatıyla bildiklerini anlatması istendi.</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&ldquo;Tanık sıfatıyla sorulan sorulara vereceğiniz cevapların ger&ccedil;eğe aykırı olmayacağına ve bilginizden hi&ccedil;bir şey saklamayacağınıza namusunuz, şerefiniz ve kutsal saydığınız b&uuml;t&uuml;n inan&ccedil; ve değerler &uuml;zerine yemin eder misiniz&rdquo; dendi.</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>Tanık &ldquo;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip; (İFADENİN ALINDIĞI YER)&rdquo;de &hellip;&hellip;&hellip;&hellip; tarihinde alınan ifadesinde; </span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&ldquo;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&rdquo;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>dedi.</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>İlave edeceği başka bir şey olup olmadığı soruldu. &ldquo;Yoktur&rdquo; dedi. Tutanak kendisine okundu. Yazılanların s&ouml;ylediklerinin aynısı olduğunu beyan &uuml;zerine tutanak birlikte imzalandı. &hellip;/&hellip;/&hellip;</span></p><p style='margin-left: 174.0pt; text-align: justify; text-justify: inter-ideograph; text-indent: -174.0pt;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&hellip;&hellip;&hellip;&hellip;&hellip;.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p><p style='margin-left: 174.0pt; text-align: justify; text-justify: inter-ideograph; text-indent: -174.0pt;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>Tanık&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; İfadeyi Yazan&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Soruşturmacı</span></p>",
            hint: '<p><strong>DİKKAT!..</strong></p><p><strong>1 -</strong> Tanığın ifadesi alınırken tanığa yemin ettirilmelidir.</p><p><strong>2 -</strong> Soruşturma konusu olay ve iddialar a&ccedil;ık&ccedil;a yazılmalıdır.</p><p><strong>3 -</strong> Soruşturmacı gerek g&ouml;rd&uuml;ğ&uuml; takdirde tanığın anlattıklarının yanında konuyu a&ccedil;ıklığa kavuşturmak i&ccedil;in gerekli g&ouml;rd&uuml;ğ&uuml; soruları sorabilir.</p><p><strong>4 -</strong> Soruşturma gizli olup ifade sırasında, soruşturmacı ya da soruşturma komisyonu &uuml;yeleri, katip, ifade sahibi ve varsa vekili dışında kimse bulunamaz. İfade tutanağı tanık, katip ve ş&uuml;pheli tarafından imzalanarak, tutanağın bir n&uuml;shası ş&uuml;pheliye verilmelidir.</p><p><strong>5</strong> - Tanık avukatı ile gelmişse vekaletnamesini sunması şartıyla ifadeye katılabilir bu durumda ifade tutanağını avukatta imzalamalıdır.</p>',
            title: "C.3. TANIK İFADE TUTANAĞI ÖRNEĞİ "
        }
       

        , d1: {
            form: "<p style='margin-left: 174.0pt; text-align: justify; text-justify: inter-ideograph; text-indent: -174.0pt;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='margin-left: 174.0pt; text-align: justify; text-justify: inter-ideograph; text-indent: -174.0pt;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;.MAKAMINA</span></p><p style='margin-left: 174.0pt; text-align: justify; text-justify: inter-ideograph; text-indent: -174.0pt;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>İlgi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &hellip;&hellip;&hellip; ve &hellip;&hellip;.. sayılı yazınız.</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Makamınızın ilgide kayıtlı onayı ile y&uuml;r&uuml;tmekle g&ouml;revlendirilmiş bulunduğum ceza soruşturmasında &hellip;&hellip;&hellip;&hellip;&rsquo;nın sorumluluğu tespit edildiğinden adı ge&ccedil;enin de soruşturmaya dahil edilmesine karar verilmesini&nbsp; arz ederim.&hellip;./&hellip;./&hellip;..</span></p><p style='margin-left: 174.0pt; text-align: justify; text-justify: inter-ideograph; text-indent: -174.0pt;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Soruşturmacı</span></p>",
            hint: '<p><strong>DİKKAT!..</strong></p><p><strong>1 -</strong> Soruşturma devam etmekte iken onayda belirtilen kişi ve fiillerden başka sorumlu ya da fiillerin varlığının tespiti halinde, bu kişi ya da fiillerin de soruşturmaya dahil edilmesi soruşturmayı a&ccedil;an makamdan istenir.</p><p><strong>2 -</strong> &nbsp;Bu durumda soruşturmayı a&ccedil;an makam, konuyu değerlendirerek bu fiil ya da kişilerin de soruşturmaya dahil edildiğine ilişkin ek bir onay alarak soruşturmacıya bildirir ya da gerek g&ouml;r&uuml;rse bu fiil ve kişiler hakkında yeni bir soruşturma a&ccedil;abilir.</p><p><strong>3 -</strong> Soruşturmayı a&ccedil;an makam, soruşturmacı tarafından bildirilen kişi hakkında soruşturma a&ccedil;maya yetkili olmadığı takdirde durumu ivedilikle Rekt&ouml;rl&uuml;k Makamına bildirmelidir.</p>',
            title: "D.1. SORUMLU OLARAK TESPİT EDİLEN KİŞİNİN SORUŞTURMAYA DAHİL EDİLMESİ İSTEMİ YAZISI "
        }
        , d2: {
            form: "<p style='margin-left: 174.0pt; text-align: justify; text-justify: inter-ideograph; text-indent: -174.0pt;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;..MAKAMINA</span></p><p style='margin-left: 174.0pt; text-align: justify; text-justify: inter-ideograph; text-indent: -174.0pt;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>İlgi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &hellip;&hellip;&hellip; ve &hellip;&hellip;.. sayılı yazınız.</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Makamınızın ilgide kayıtlı onayı ile y&uuml;r&uuml;tmekle g&ouml;revlendirilmiş bulunduğum ceza soruşturmasında bilirkişi incelemesine ihtiya&ccedil; duyulmuş olup,&nbsp; &hellip;&hellip;&hellip;&hellip;tıbbi kusur ve ihmal bulunup bulunmadığı&nbsp; hususunda, ekte g&ouml;nderilen soruşturma dosyasının <em>(İfade tutanakları, hasta dosyası, varsa diğer t&uuml;m deliller)</em> &Uuml;niversitemiz dışından konusunda uzman profes&ouml;r &uuml;nvanlı 3 kişilik &ouml;ğretim &uuml;yesinden oluşacak bilirkişi komisyonu tarafından incelenerek d&uuml;zenlenecek bilirkişi raporunun soruşturma dosyası ile birlikte tarafıma g&ouml;nderilmesini arz ederim.&hellip;./&hellip;./&hellip;..</span></p><p style='margin-left: 174.0pt; text-align: justify; text-justify: inter-ideograph; text-indent: -174.0pt;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Soruşturmacı</span></p>",
            hint: '<p><strong>DİKKAT!..</strong></p><p><strong>1 -</strong> Soruşturmacı dosyada bilirkişi incelemesi ya da keşfe ihtiya&ccedil; olup olmadığına dosya kapsamında kendisi karar verecektir.</p><p><strong>2 &ndash;</strong> &Ouml;zellik tıbbi hatadan kaynaklanan soruşturmalarda, &Uuml;niversitemiz dışından bilirkişi incelemesi yaptırılması Danıştay kararları &ccedil;er&ccedil;evesinde bir zorunluluktur.</p><p><strong>3 &ndash;</strong> Bilirkişi yaptırılması i&ccedil;in Rekt&ouml;rl&uuml;ğe g&ouml;nderilen talep yazısında hangi alanda uzman bilirkişiye ihtiya&ccedil; duyulduğunun ve bilirkişi tarafından incelenmesi gereken hususların neler olduğunun a&ccedil;ıklanması ve soruşturma dosya suretinin yazıya eklenmesi gerekmektedir.</p><p><strong>4 -</strong> &nbsp;Soruşturmacı dilerse kendi belirlediği bilirkişilere dosyanın g&ouml;nderilmesini isteyebileceği gibi soruşturma kapsamında kendisi de doğrudan bilirkişi incelemesini yaptırabilir.</p>',
            title: "D.2. BİLİRKİŞİ İNCELEMESİ İSTEM YAZISI - 1  "
        }
        , d3: {
            form: "<p style='margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;'><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='margin-bottom: .0001pt; text-align: center; line-height: normal;'><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip; MAKAMINA</span></p><p style='margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;'><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;'><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;'><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;.Makamının &hellip;&hellip;&hellip; ve &hellip;&hellip;.. sayılı onayı ile y&uuml;r&uuml;tmekle g&ouml;revlendirilmiş bulunduğum ceza soruşturması kapsamında &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.. ş&uuml;pheli /şikayet/tanık sıfatıyla ifadesinin alınması gerekmektedir. </span></p><p style='margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;'><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;'><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Buna g&ouml;re, ekte g&ouml;nderilen ifade tutanağına g&ouml;re ş&uuml;pheli <em>(ifade sırasında m&uuml;dafii bulundurma hakkı hatırlatmak suretiyle)</em>- şikayet&ccedil;i-tanık <em>(ifade sırasında tanığa yemin ettirilmesi suretiyle)</em>&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.ifadesinin alınması ile d&uuml;zenlenecek 2 adet ifade tutanağı aslının ivedilikle tarafıma g&ouml;nderilmesi hususunda gereğini arz ederim. </span></p><p style='margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;'><strong><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></strong><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p><p style='margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;'><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><strong><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></strong><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p><p style='margin-bottom: .0001pt; text-align: justify; text-justify: inter-ideograph; line-height: normal;'><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Soruşturmacı</span><strong><span style='font-size: 12.0pt; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></strong></p><p style='margin-bottom: .0001pt; text-indent: 35.4pt; line-height: normal;'><strong><span style='font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></strong></p><p style='margin-bottom: .0001pt; text-indent: 35.4pt; line-height: normal;'><strong><span style='font-family: 'Times New Roman',serif;'>&nbsp;</span></strong></p><p style='margin-bottom: .0001pt; line-height: normal;'><u><span style='font-family: 'Times New Roman',serif;'>EKLER&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</span></u></p><p style='margin-bottom: .0001pt; line-height: normal;'><span style='font-family: 'Times New Roman',serif;'>1) <strong>&nbsp;</strong>Soruşturma onayı</span></p><p style='margin-bottom: .0001pt; line-height: normal;'><span style='font-family: 'Times New Roman',serif;'>2) İfade tutanağı formu 2 adet</span></p>",
            hint: '<p><strong>DİKKAT!..</strong></p><p><strong>1 -</strong> İfadesine başvurulacak kişinin &Uuml;niversite dışında &ccedil;alışması, Ankara dışında olması veya askerlik, tutukluluk gibi nedenlerle ifade vermeye gelemeyecek durumda olması halinde ifadesinin, bağlı olduğu m&uuml;lki ya da idari amir ya da tutukluk halinde cezaevi savcısı tarafından alınması talep edilebilir.</p><p><strong>2 -</strong> İstinabe suretiyle ifadesi alınacak kişi ş&uuml;pheli ise istinabe istem yazısında ş&uuml;phelinin ifade sırasında m&uuml;dafii bulundurma hakkının hatırlatılması istenmelidir.</p><p><strong>3 &ndash;</strong> İstinabe suretiyle ş&uuml;phelinin ifadesi alınırken 7 g&uuml;nl&uuml;k savunma s&uuml;resine uyulması hususu istinabe istem yazısında belirtilmesi gerekmektedir.</p><p><strong>4 &ndash;</strong> İstinabe suretiyle ifadesi alınacak kişi tanık ise istinabe istem yazısında tanığa ifadesini verirken yemin ettirilmesi gerektiği hususunun hatırlatılması istenmelidir.</p>',
            title: "D.3. İSTİNABE SURETİYLE İFADE ALINMASI İSTEMİ YAZISI"
        }
        , d4: {
            form: "<p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='text-align: center;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip; MAKAMINA</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>İlgi: &hellip;&hellip;&hellip; ve &hellip;&hellip;.. sayılı onayınız.</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Makamınızın ilgide kayıtlı onayı ile g&ouml;revlendirilmiş bulunduğum ceza soruşturmasında &hellip;&hellip;&hellip;&hellip; nedenle soruşturma s&uuml;resinin &hellip;&hellip;&hellip;. tarihine kadar (ya da &hellip;&hellip;&hellip;&hellip; g&uuml;n / ay daha) uzatılmasını m&uuml;saadelerinize saygılarımla arz ederim&hellip;./&hellip;./&hellip;..</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;&hellip;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Soruşturmacı</span></p>",
            hint: '<p><strong>DİKKAT!..</strong></p><p><strong>1 &ndash;</strong> Soruşturma; g&ouml;revlendirme yazısının soruşturmacıya tebliğ tarihinden itibaren iki ay i&ccedil;inde tamamlanır. Soruşturma bu s&uuml;re i&ccedil;inde tamamlanamaz ise soruşturmacı gerek&ccedil;esini de belirterek disiplin amirinden ek s&uuml;re talep edebilir.</p><p><strong>2 -</strong> Disiplin amiri, gerek&ccedil;eyi değerlendirerek ve zamanaşımı s&uuml;relerini dikkate alarak ek s&uuml;re isteğini kabul veya red eder ve kararını yazılı olarak bildirir.</p><p><strong>3 &ndash;</strong> Ek s&uuml;re; her defasında en fazla 2 ay s&uuml;reyle verilir ve iki aylık soruşturma s&uuml;resinin ya da daha &ouml;nce verilen ek s&uuml;resin bitiminden itibaren başlar.</p><p><strong>4 -</strong> Ceza soruşturmasında zamanaşımı s&uuml;resi su&ccedil;un niteliğine g&ouml;re T&uuml;rk Ceza Kanununda h&uuml;k&uuml;m altına alınan s&uuml;re ceza zamanaşımı s&uuml;residir.</p><p><strong>5 -</strong> Soruşturmanın zamanaşımı s&uuml;resi i&ccedil;erisinde tamamlanmaması halinde soruşturmacının şahsi olarak sorumluluğu doğar.</p>',
            title: "D.4. EK SÜRE İSTEM YAZISI"
        }
        , d5: {
            form: "<p>FEZLEKE</p><p><u>SORUŞTURMA ONAY TARİHİ&nbsp;&nbsp;&nbsp; :</u> &hellip;&hellip;&hellip; Makamının tarih ve &hellip;&hellip; sayılı onayı</p><p>&nbsp;</p><p><u>SORUŞTURULAN&nbsp;&nbsp; (Ş&Uuml;PHELİ)&nbsp;&nbsp;&nbsp; :</u></p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>TC Kimlik No&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</u></p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>G&ouml;revi&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</u></p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <u>Adresi &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</u><u></u><u></u></p><p><u>SORUŞTURMA KONUSU&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</u><u></u></p><p><u>SU&Ccedil; TARİHİ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</u> &hellip;/ &hellip;/ &hellip;..<u></u></p><p><u>SORUŞTURMANIN SAFHALARI:</u><u></u></p><p><u>DELİLLER&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</u><u></u></p><p><u>İFADELERİN &Ouml;ZETİ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</u></p><p><u>DELİLLERİN DEĞERLENDİRİLMESİ</u><u>:</u>.</p><p><u>KANAAT VE SONU&Ccedil;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :</u></p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; Soruşturmacı</p><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &hellip;./&hellip;./&hellip;&hellip;.</p>",
            hint: '<p><strong>DİKKAT!..</strong></p><p><strong>1 &ndash;</strong> Fezlekede: soruşturma onayı, soruşturmaya başlama tarihi, soruşturulanın kimliği, resmi sıfatı, soruşturmanın konusu, biliniyorsa su&ccedil; tarihi, soruşturmanın safhaları <em>(soruşturma kapsamında yapılan işlemler tek tek yazılır.), </em>deliller <em>(şikayet dilek&ccedil;esi, ifade tutanakları, bilirkişi raporu, hasta dosyası, kamera kaydı, resimler vb.)</em> ve alınan t&uuml;m ifadeler &ouml;zetlenir.</p><p><strong>2 -</strong> Fezlekenin <strong><em>Delillerin Değerlendirilmesi</em></strong> kısmında; fiilin işlenip işlenmediğinin ne şekilde kanıtladığı, varsa &ccedil;elişkiler de giderilecek şekilde değerlendirilerek fiilin işlenip işlenmediği ve su&ccedil; teşkil edip etmediği hususu ayrıntılı ve gerek&ccedil;eli olarak a&ccedil;ıklanır.</p><p><strong>3 -</strong> Fezlekenin <strong><em>Kanaat ve Sonu&ccedil;</em></strong> b&ouml;l&uuml;m&uuml;nde; delillerin değerlendirilmesi &ccedil;er&ccedil;evesinde oluşan kanaat kısaca &ouml;zetlenerek ş&uuml;pheli/ş&uuml;phelilerin l&uuml;zum-u muhakemesine (yargılanması gerektiği) veya men-i muhakemesine (yargılanmaması) y&ouml;n&uuml;ndeki kanaat belirtilir. Birden fazla ş&uuml;pheli olması halinde her ş&uuml;pheli i&ccedil;in ayrı ayrı belirtilir.</p>',
            title: "D.5. FEZLEKE ÖRNEĞİ"
        }
        , d6: {
            form: "<p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='margin-left: 177.0pt; text-align: center; text-indent: -177.0pt;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>SORUŞTURMA DOSYASI DİZİ PUSULASI</span></p><ol><li style='margin-left: .5in; text-indent: -.25in;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>Şikayet dilek&ccedil;esi</span></li><li style='margin-left: .5in; text-indent: -.25in;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>Soruşturma onayı</span></li><li style='margin-left: .5in; text-indent: -.25in;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>Ek s&uuml;re talep yazısı</span></li><li style='margin-left: .5in; text-indent: -.25in;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>Şikayet&ccedil;i ifadeye &ccedil;ağrı yazısı</span></li><li style='margin-left: .5in; text-indent: -.25in;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&hellip;&hellip;&hellip; tarihli ş&uuml;pheliye savunmaya &ccedil;ağrı yazısı</span></li><li style='margin-left: .5in; text-indent: -.25in;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&hellip;&hellip; tarihli &ldquo;tanık&rdquo; ifadeye &ccedil;ağrı yazısı</span></li><li style='margin-left: .5in; text-indent: -.25in;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>Bilirkişi incelemesi yaptırılmasına ilişkin istem yazısı</span></li><li style='margin-left: .5in; text-indent: -.25in;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>Keşif kararı ve keşif sırasında hazır bulunması istenen kişilere g&ouml;nderilen yazı </span></li><li style='margin-left: .5in; text-indent: -.25in;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&hellip;&hellip;&rsquo;nın savunma tutanağı</span></li><li style='margin-left: .5in; text-indent: -.25in;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&hellip;&hellip;&rsquo;nın tanık ifade tutanağı</span></li><li style='margin-left: .5in; text-indent: -.25in;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>Şikayet&ccedil;i ifade tutanağı</span></li><li style='margin-left: .5in; text-indent: -.25in;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>Bilirkişi raporu</span></li><li style='margin-left: .5in; text-indent: -.25in;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>Keşif tutanağı</span></li><li style='margin-left: .5in; text-indent: -.25in;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>Fezleke</span></li></ol>",
            hint: '<p><strong>DİKKAT!..</strong></p><p><strong>1 &ndash;</strong> Soruşturma dosyası kapsamındaki t&uuml;m belge asılları <strong>(&ouml;zellikle; ifadeye &ccedil;ağrı yazıları, tebell&uuml;ğ belgeleri ve ifade ve savunma tutanaklarının asılları)</strong> yoksa onaylı suretleri bir dizi pusulasına bağlanarak, 2 asıl n&uuml;sha olarak d&uuml;zenlenen fezleke ile birlikte gecikmeden soruşturmayı a&ccedil;an makama &uuml;st yazı ile teslim edilir.</p><p><strong>2 -</strong> Formda yer alan liste yalnızca &ouml;rnek olarak d&uuml;zenlenmiş olup, soruşturma dosyasında bulunan t&uuml;m evraklar tek tek listelenmeli ve dosya bu listeye g&ouml;re sıralanarak &uuml;st yazı ile teslim edilmelidir.</p>',
            title: "D.6. ŞORUŞTURMA DOSYASI DİZİ PUSULASI ÖRNEĞİ"
        }
        , d7: {
            form: "<p><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;. MAKAMINA</span></p><p><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>İlgi:&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;.. g&uuml;n ve &hellip;&hellip;&hellip; sayılı yazınız.</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Makamınızın ilgide kayıtlı onayı ile g&ouml;revlendirilmiş bulunduğum ceza soruşturması tamamlanmış olup hazırlanan dosya ve fezleke ekte sunulmuştur&hellip;./&hellip;./&hellip;..</span></p><p style='text-align: justify; text-justify: inter-ideograph;'><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Gereğini arz ederim.</span></p><p><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &hellip;&hellip;&hellip;&hellip;&hellip;&hellip;.</span></p><p><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Soruşturmacı</span></p><p><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>&nbsp;</span></p><p><span style='font-size: 12.0pt; line-height: 115%; font-family: 'Times New Roman',serif;'>Ek: Soruşturma dosyası (&hellip;.. sayfa veya &hellip; klas&ouml;r)</span></p>",
            hint: '<p><strong>DİKKAT!..</strong></p><p><strong>1 &ndash;</strong> Soruşturma dosyası kapsamındaki t&uuml;m belge asılları <strong>(&ouml;zellikle; ifadeye &ccedil;ağrı yazıları, tebell&uuml;ğ belgeleri ve ifade ve savunma tutanaklarının asılları)</strong> yoksa onaylı suretleri bir dizi pusulasına bağlanarak, 2 asıl n&uuml;sha olarak d&uuml;zenlenen fezleke ile birlikte gecikmeden soruşturmayı a&ccedil;an makama &uuml;st yazı ile <strong>gizli</strong> olarak teslim edilir.</p>',
            title: "D.7. SORUŞTURMA DOSYASI TESLİM YAZISI"
        }



       
    };

</script>